<h1>Mostrando Despesa</h1>

<div class="span-24 ">
		<div class="span-4"><span class="bold">Descrição</span></div>
		<div class="span-20 last"><%= @outcome.description %></div>
		
		<div class="span-4"><span class="bold">Categoria</span></div>
		<div class="span-20 last">	
			<%= @outcome.subcategory.category.label + " / " + @outcome.subcategory.label %>			
		</div>
		
		<div class="span-24">
			<div class="span-4"><span class="bold">Empresa</span></div>
			<div class="span-20 last">
				<%= @outcome.company.name %>					
			</div>
		</div>
		
		<div class="span-4"><span class="bold">Valor</span></div>
		<div class="span-20 last"><%= @outcome.value -%></div>

		<div class="span-4"><span class="bold">Data de Vencimento</span></div>
		<div class="span-20 last"><%= @outcome.data_vencimento %></div>
		
		<div class="span-4"><span class="bold">Pago na data</span></div>
		<div class="span-20 last"><%= @outcome.data_pagamento %></div>

</div>