<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Outcomes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag  'screen', 'style', 'menu' %>
</head>
<body>
	<div class="container">
		<div id="topbar" class='span-24 last'>
			<%= menu_writer %>
		</div>
		<div id="submenu" class='span-24 last'>
			<%= submenu_writer %>
		</div>
		
		<div class="span-24 last">&nbsp;</div>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield %>
	</div>
</body>
</html>
<%= javascript_include_tag 'prototype' %>
